[project]
	description = Test repository.
[access "refs/*"]
	owner = group user/Seigo Tanimura (iSeigoTanimura)
[access "refs/for/refs/*"]
	read = group user/Seigo Tanimura (iSeigoTanimura)
	push = group user/Seigo Tanimura (iSeigoTanimura)
	label-Code-Review = -2..+2 group user/Seigo Tanimura (iSeigoTanimura)
	label-Verified = -1..+1 group user/Seigo Tanimura (iSeigoTanimura)
	rebase = group user/Seigo Tanimura (iSeigoTanimura)
	removeReviewer = group user/Seigo Tanimura (iSeigoTanimura)
	submit = group user/Seigo Tanimura (iSeigoTanimura)
[access "refs/heads/*"]
	read = group user/Seigo Tanimura (iSeigoTanimura)
	create = group user/Seigo Tanimura (iSeigoTanimura)
	push = +force group user/Seigo Tanimura (iSeigoTanimura)
	pushMerge = group user/Seigo Tanimura (iSeigoTanimura)
[access "refs/tags/*"]
	push = +force group user/Seigo Tanimura (iSeigoTanimura)
	pushTag = group user/Seigo Tanimura (iSeigoTanimura)
	pushSignedTag = group user/Seigo Tanimura (iSeigoTanimura)
